<h1 class="text-center mt-5">Angular 12 google pay Gateway</h1>
<hr>
<google-pay-button class="ml-10"
environment="TEST"
buttonType="buy"
buttonColor="black"
[paymentResquest]="{
  apiVersion:2,
  apiVersionMinor:0,
  allowedPaymentMethods:[
    {
      type:"CARD",
      parameters:{
        allowedPaymentMethods:["PAN_ONLY","CRYPTOGRAM_3DS"],
        allowedCardNetworks:["AMEX","VISA","MASTERCARD"]
      },
      tokenizationSpecification:{
        type:"PAYMENT_GATEWAY",
        parameters:{
          gateway:"example",
          "gatewayMerchantId":"exampleGatewayMerchantID"
        }
      }
    }
  ],
  merchantInfo:{
    merchantId:"12345678901234567890",
    merchantName:"demo Merchant"
  },
  transactionInfo:{
    totalPriceStatus:"FINAL",
    totalPriceLabel:"Total",
    totalPrice:"100.00",
    currencyCode:"USD",
    countryCode:"US"
  }
}"
(loadpaymentdata)="OnLoadPaymentData($event)
>
</google-pay-button>
<router-outlet></router-outlet>
